.conteneur {
    display: flex;
    background-color: aliceblue;

}

.gauche {
    color: aliceblue;
    flex: none;
    width: 280px;
    background-color: rgb(121, 142, 207);
    padding: 60px 20px;

}

.droite {
    margin-left: 20px
}

.info {
    background-color: hwb(234 6% 42% / 0.815);
    height: 120px;
    color: white;
    text-align: end;
    padding-top: 5px;

    h1 {
        font-size: 35px;
        margin-right: 20px;
    }

    .photo-profile {
        display: flex;
        border-radius: 60%;
        position: absolute;
        width: 180px;
        height: 160px;
        padding: 30px;
        margin-top: -20px;
        margin-right: 20px;
        flex-shrink: 0;

    }
}

body {
    margin: 50px 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #eaeaea;
    box-sizing: border-box;
    padding: 0;



}

.cv-container {
    width: 210mm;
    min-height: 297mm;
    margin: 10mm auto;
    padding: 20mm;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dots {
    border: none;
    border-top: 1px solid rgb(224, 225, 226);
}

.droite Trait{
    position: relative;
    width: 2px;
    height: 350px;
    
}

