.conteneur{
    display: flex;
background-color: aliceblue;
}
.gauche{
    color: aliceblue;
    flex: none;
    width: 280px;
    background-color: rgb(5, 27, 99);
    padding: 60px 20px;

}

.droite{
    margin-left: 15px;
}

.info{
    background-color: #19B9D4;
    height: 150px;
    color: white;
    text-align: center;
    padding-top: 5px;
    h1{
        font-size: 70px;
    }

    .photo-profile{
    border-radius: 50%;
    position: absolute;
    width: 150px;
    left: 0;
    padding: 50px;

    }
}

