* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

.container {
    display: flex;
    width: 210mm;
     min-height: 297mm; 
    margin: 40px auto;
    background: white;
}

.left {
    width: 25%;
    background: #1505f8;
    color: white;
    padding: 20px;

}

.profile-img {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;

}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.left h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 1px;
}

.left ul {
    list-style: disc;
    margin-left: 20px;
}


.right {
    width: 95%;
    padding: 10px;
    flex: 100px; 
}
.header{
    width: 100%;
    background-color: gray;
    flex: 100px;
    color: blue;
    padding: 20px;
}
.header h1 {
    font-size: 32px;
    text-align: center;
    letter-spacing: 2px;
}

.header h1 span {
    font-weight: bold;
}

.header h3 {
    color: blue;
    text-align: center;
    margin-bottom: 30px;
}

.right h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    color:blue;
}

.job {
    margin-bottom: 15px;
}

.job span {
    float: right;
    color: gray;
    font-size: 14px;
}

ul {
    margin-left: 20px;
}
/* 🔥 BOUTON EN BAS A DROITE */
#downloadBtn{
    position:absolute;
    bottom:20px;
    right:20px;
    padding:10px 20px;
    background:#2c3e50;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
}

#downloadBtn:hover{
    background:#34495e;
}

/* VERSION IMPRESSION (PDF) */
@media print{
    body{
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
      .left {
        background: #0b2ada !important;
    }

    .cv-container{
        margin:0;
        box-shadow:none;
        width:100%;
    }

    #downloadBtn{
        display:none;
    }
}
