:root {
    --primary-color: #183684;
    --secondary-color: #19B9D4;
    --tertiary-color: #C9C9C9;
    --font-main: 'Inter', sans-serif;
    --blanc: #f30707;
}

body {
    font-family: var(--font-main);
}


 .telecharger {
        display: relative;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        bottom: 20px;
        right: 5%;
        font-size: 1em;
        
    }
    .telecharger:hover {
        background-color: var(--secondary-color);
        transition-duration: 200ms;
        transform: translateY(-10px);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.488);
        
    }


     .message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: #2da44e;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, top 0.4s ease;
     z-index: 9999;
}

.message.show {
    opacity: 1;
    top: 40px;
}

 .container_telechargement{
                display: flex;
                justify-content: space-around;
                padding: 20px;
                align-items: center;
            }
            .retourMain {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                color: var(--primary-color);
            }

            i{
                padding: 8px;
            }