:root {
  --primary-color: #183684;
  --secondary-color: #6277ac;
  --tertiary-color: #c9c9c9;
  --font-main: "Inter", sans-serif;
}

body {
  font-family: var(--font-main);
}

.telecharger {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--blanc);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 60px;
}
.telecharger:hover {
  background-color: var(--secondary-color);
  transition-duration: 200ms;
  transform: translateY(-10px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.488);
}
